body{
	font-family: 'ZCOOL KuaiLe', cursive !important;
}

.one-fourth h3{
	font-size: 1.5rem;
	text-align: center;
	color: #535962;
	line-height: 5rem;
	padding-bottom: 1rem;
}

h4{
	font-size: 120%;
	font-weight: 700;
	text-align: center;
}

#habits h4{
	margin-bottom: 2rem;
}

p{
	line-height: 200%;
	text-indent: 10%;
}

.banner{
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.banner-inner{
	position: absolute;
	width: 392px;
	height: 478px;
	left: 50%;
	top: 50%;
	margin-top: -239px;
	margin-left: -196px;
}

.one-fourth i{
	font-size: 450%;
	color: #F0F0F0;
}

#headBase{
	opacity: 0;
}

#lEye.stw{	
	animation: blink 1.5s steps(10) 2,
				blink 0.8s 3s steps(10) 3 forwards;
}

#rEye{
	background-position: -374px 0;
}

#rEye.stw{
	animation: blinkR 1.5s steps(10) 2,
				blinkR 0.8s 3s steps(10) 3 forwards;
}

@keyframes blink{
	to{
		background-position: -340px 0;
	}
}

@keyframes blinkR{
	to{
		background-position: -714px 0;
	}
}

#lEye.blink{
	animation: blinkBN 0.25s steps(10) 2 forwards;
}

@keyframes blinkBN{
	to{
		background-position: 0px 0;
	}
}

#rEye.blink{
	animation: blinkRBN 0.25s steps(10) 2 forwards;
}

@keyframes blinkRBN{
	to{
		background-position: -374px 0;
	}
}

#lEyebrow{
	background-position: 0 -25px;
	
}

.eblNormal{
	animation: eblNormal 0.25s steps(10) /* 10.6.85s */ forwards;
}

#rEyebrow{
	background-position: -49px -25px;
	
}

.ebrNormal{
	animation: ebrNormal 0.25s steps(10) /* 10.6.85s */ forwards;
}

@keyframes eblNormal{
	to{
		background-position: -980px -25px;
	}
}

@keyframes ebrNormal{
	to{
		background-position: -1029px -25px;
	}
}

#mouth{
	background-position: 0 -46px;
}

.mouthNormal{
	animation: mNormal 0.25s steps(10) /* 10.6.85s */ forwards;
}

@keyframes mNormal{
	to{
		background-position: -520px -46px;
	}
}

#rSleeve{
	transform: rotateY(180deg);
}

#lSleeve{
	transform-origin: 8px 2px;
}

#rSleeve{
	transform-origin: 4px 2px;
}

#rpants{
	transform-origin: 9px 4px;
}

#lpants{
	transform-origin: 11px 4px;
}

#hipsWithPants{
	transform-origin: 20px 2px;
}

#rThigh{
	transform-origin: 4px 4px;
}

#rCalf{
	transform-origin: 5px 5px;
}

#rpants{
	transform-origin: 9px 4px;
}

#lThigh{
	transform-origin: 5px 4px;
}

#lCalf{
	transform-origin: 5px 6px;
}

#lpants{
	transform-origin: 11px 4px;
}

#lArm, #lForeArm, #rArm, #rForeArm, #lHand, #rHand, #lThigh, #lCalf, #rThigh, #rCalf, #lFoot, #rFoot{
	transition: all 0.5s;
}

#hips, #torso{
	transition: all 0.2s;
}

.clearfix::after, .clearfix::before{
	content: '';
	display: table;
}

.clearfix::after{
	clear: both;
}

.container{
	width: 80%;
	margin: 0 auto;	
}

.flex-bet{
	display: flex;
	justify-content: space-between;
}

.one-fourth{
	text-align: center;
	padding-top: 2rem;
	margin-right: 1rem;
	flex: 1 0 auto;
}

.one-fourth:last-child{
	margin-right: 0;
}

.one-third{
	width: 25%;
}

[id^="col-2-"]{
	width: 50%;	
	text-align: center;
	margin: auto;
}

[id^="col-2-"] p{
	text-align: left;
}

[id^="col-2-"] h4{
	margin-bottom: 1rem;
}


[class$='-separator']{
	margin-bottom: 6rem;
}

[class$='-separator'] ul{
	display: flex;
	justify-content: space-around;
}

[class$='-separator'] li{
	display: inline-block;
	width: 3%;
	text-align: center;
}

[class$='-separator'] img{
	width: 100%;
	height: auto;
}

#col-2-fruit section{
	width: 4rem;
	height: 4rem;
	top: 50%;
	left: 50%;
	margin-top: -2rem;
	margin-left: -2rem;
	position: relative;
	background-image: url('../imgs/orange.png');
	background-size: contain;
	background-repeat: no-repeat;
}

#col-2-fruit section::before{
	content: '';
	display: block;
	width: 2.5rem;
	height: 2.5rem;
	position: absolute;
	bottom: 0;
	left: -0.67rem;
	background-image: url('../imgs/dragon2.png');
	background-size: contain;
	background-repeat: no-repeat;
}

#col-2-fruit section::after{
	content: '';
	display: block;
	width: 2rem;
	height: 2rem;
	position: absolute;
	right: -1rem;
	bottom: 0px;
	background-image: url('../imgs/strawberry.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.mb6{
	margin-bottom: 6rem;
}

.pt30{
	padding-top: 30px;
}

[id$="-text"]{
	padding: 20px 10px;
	box-sizing: border-box;
}

#col-2-fruit-text{
	background-color: #c5f8c8;
	
}

#col-2-season-text{
	background-color: #e8d3ff;
}

#col-2-body-text{
	background-color: #ebebe3;
}

#fruits{
	background-color: #fab95b;
}

#season{
	background-color: #ceddef;
}

#body{
	background-color: #75cac3;
}

#gm{
	background-color: #f3d516;
}

footer i{
	font-size: 100%;
}

footer p{
	text-indent: 0;
	text-align: center;
}

footer p i{
	font-size: 60%;
}

@media screen and (max-width: 768px){
	.flex-bet{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.banner-inner{
		transform: scale(0.8);
	}

	.container{
		width: 60%;
	}

	.one-fourth{
		width: 45%;
		margin-bottom: 1rem;
	}

	.one-fourth i {
    	font-size: 300%;
	}

	.one-fourth h3{
		padding: 0;
		line-height: 5rem;
		padding-bottom: 1rem;
	}

	.one-fourth:nth-child(2){
		margin-right: 0rem;
	}

	[id^="col-2-"] {
	    width: 100%;
	    text-align: center;
	    margin: auto;
	}

	#col-2-fruit section {
    	margin-top: 30px;
    	margin-bottom: 30px;
    }

    [id^="col-2-"]{
    	/* box-sizing: border-box; */
    }
		
	#col-2-season{
		order: 1;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	
	#col-2-season-text{
		order: 2;
	}

	#col-2-body{
		padding-top: 30px;
		padding-bottom: 30px;
	}

	[class$='-separator'] li:nth-child(8), [class$='-separator'] li:nth-child(9){
		display: none;
	}

	[class$='-separator'] ul{
		margin-bottom: 20px;
	}

	[class$='-separator'] li{
		width: 6%;
	}

	.one-third{
		width: 100%;
	}	

	.one-third p{
		margin-bottom: 4rem;
	}

	.pt30{
		padding-top: 0px;
	}

}

@media screen and (max-width: 576px){
	.one-fourth{
		width: 100%;
	}

	.flex-bet{
		display: block;
    	justify-content: normal;
	}

	.section-season{
	    display: flex;
		flex-direction: column;
	}
}
